<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout">
<head>
  	<meta charset="UTF-8">
  	<title>Usuários</title>
</head>
<body class="container-fluid">

	<header layout:fragment="header" class="bg-info text-white">
		<span class=" fas fa-users"></span><h1>USUÁRIOS</h1>
	</header>
	<section layout:fragment="content" class="autorLivro" >
		<h6 class="btn btn-info font-weight-bold float-left">Olá, <span sec:authentication="name"></span></h6>
		<a href="#" th:href="@{/usuario/logout}" class="btn btn-info font-weight-bold float-right"><i class="far fa-file"></i> Logout</a>
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th>ID</th>
					<th>USUÁRIO DE ACESSO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${usuarios}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.usuario}"></td>
				</tr>
			</tbody>
		</table>
	</section>
	
</body>
</html>