<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8" />
    <title>Biblioteca</title>

</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link" th:href="@{/}" href="#">Home <span class="sr-only">(Página atual)</span></a>
              <a class="nav-item nav-link" th:href="@{/usuario/login}" href="#">Login</a>
              <a class="nav-item nav-link" th:href="@{/livro/list}" href="#">Livros</a>
              <a class="nav-item nav-link" th:href="@{/autor/list}" href="#">Autores</a>
              <a class="nav-item nav-link" th:href="@{/usuario/list}" href="#">Usuários</a>
          </div>
        </div>
      </nav>
    <h1 layout:fragment="header"></h1>
    <div layout:fragment="content"></div>


</body>
</html>