<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorate="layout">
<head>
  	<meta charset="UTF-8">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Livros</title>
</head>
<body class="container-fluid">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
	      <a class="nav-item nav-link active" href="/livro/list">Lista de Livros</a>
	      <a class="nav-item nav-link" href="/livro/list">Inserir Livros</a>
	    </div>
	  </div>
	</nav>

	<section class="text-center">
		<form method="post" action="#" th:action="@{/livro/gravar}" th:object="${livro}" class="jumbotron">
			<input type="hidden" th:field="*{id}" />
			Nome: <input type="text" th:field="*{nome}" />
			<span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error</span><br>
			Quantidade Páginas: <input type="text" th:field="*{qtdePaginas}">
			<span  th:if="${#fields.hasErrors('qtdePaginas')}" th:errors="*{qtdePaginas}">Error</span><br>
			Autor: <select th:field="*{autor}">
				<option value="">Selecione o Autor</option>
				<option th:each="autor : ${listaAutores}" th:value="${autor.id}" th:text="${autor.nome} " selected="selected"></option>
			</select><br>
		    <input type="submit" class="btn btn-primary" />
		</form>	
		<a href="#" th:href="@{/livro/novo}">Novo</a>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>NOME</th>
					<th>PÁGINAS</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="liv: ${livros}">
					<td th:text="${liv.id}"></td>
					<td th:text="${liv.nome}"></td>
					<td th:text="${liv.qtdePaginas}"></td>
					<td th:text="${liv?.autor?.nome}"></td>
					<td><a href="#" th:href="@{'/livro/alterar/'+${liv.id}}">Alterar</a></td>
					<td><a href="#" th:href="@{'/livro/excluir/'+${liv.id}}">Excluir</a></td>
				</tr>
			</tbody>
		</table>	
	</section>
	
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>

</html>